.body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.list-one{
    display:flex;
    gap: 10px; 
    align-items: center;
    padding-left: 400px;
    padding-right: 400px;
}

.left-list {
    margin-right: auto;
    font-weight: bold;
    font-size: 24px;
}

.container,
.list-one {
    background-color: #1F2937;
    color: #F9FAF8;
}

.container{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 75px 400px;
}

.hero-main {
    font-size: 48px;
    font-weight: bolder;
}

.hero-secondary {
    font-size: 18px;
    color: #E5E7EB;
}

.pic-container{
    display: flex;
}
.snow-trees {
    height: 122px;
}

.top-button,
.bottom-button {
    background-color: #3882F6;
    border-radius: 5px;
    border: 1px #3882F6;
    color: #F9FAF8;
    padding: 5px 20px;
    font-weight: bold;
}

li {
    margin: 0;
    padding: 0;
    list-style: none;
}