.body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.list-one{
    display:flex;
    margin: 0;
    padding: 0;
    list-style: none;
    gap: 10px; 
    align-items: center;
    padding-left: 125px;
    padding-right: 125px;
}

.left-list {
    margin-right: auto;
    font-weight: bold;
    font-size: 24px;
}

.container,
.list-one {
    background-color: #1F2937;
    color: #F9FAF8;
}

.container{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 75px 125px;
}

.hero-main {
    font-size: 48px;
    font-weight: bolder;
}

.hero-secondary {
    font-size: 18px;
    color: #E5E7EB;
}

.pic-container{
    display: flex;
}
.snow-trees {
    width: 300px;
}