.body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.list-one{
    display:flex;
    gap: 10px; 
    align-items: center;
    padding-left: 400px;
    padding-right: 400px;
    margin: 0;
    list-style: none;
}

.left-list {
    margin-right: auto;
    font-weight: bold;
    font-size: 24px;
}

.container,
.list-one {
    background-color: #1F2937;
    color: #F9FAF8;
}

.container{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 75px 400px;
}

.hero-main {
    font-size: 48px;
    font-weight: bolder;
}

.hero-secondary {
    font-size: 18px;
    color: #E5E7EB;
}

.pic-container{
    display: flex;
}
.avalanche {
    height: 122px;
    margin-left: 150px;
}

.top-button {
    border: 1px #3882F6;
}

.top-button,
.bottom-button {
    background-color: #3882F6;
    border-radius: 5px;
    color: #F9FAF8;
    padding: 5px 20px;
    font-weight: bold;
}

li {
    margin: 0;
    padding: 0;
    list-style: none;
}
.illustration,
.text-container {
    display: flex;
    padding-left: 450px;
    padding-right: 450px;
    gap: 20px;
}
.box-images img {
    height: 75px;
    border-radius: 5px;
}

.infohead-text {
    text-align: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.text-container {
    flex-direction: column;
    background-color: #E5E7EB;
    padding-top: 30px;
    padding-bottom: 30px;
}

.quote {
    font-size: 36px;
    font-weight: lighter;
    color: #1F2937;
    font-style: italic;
}

.attribution {
    align-self: flex-end;
    font-weight: bold;
}
.white-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 75px;
    margin-bottom: 94px;
}
.blue-container {
    display: flex;
    background-color: #3882F6;
    justify-content: space-around;
    border-radius: 5px;
    padding: 20px 50px;
}

.call {
    color: #F9FAF8;
    font-weight: bold;   
}

.call-two {
    color: #F9FAF8;
    font-size: 12px;
}

.bottom-button {
    border:1px solid #F9FAF8;
    margin-left: 150px;
}

.footer {
    display: flex;
    background-color: #1F2937;
    color: #F9FAF8;
    justify-content: center;
    padding: 15px;


}

